@use "sass:color";

$body-bg: #1a2433;
$body-color: #f7fafa;

$main-bg: color.adjust($body-bg, $lightness: -4%);

$text-muted: #b2bac2;

$dark: color.adjust($body-bg, $lightness: -8%);

/*$theme-colors: (
	"dark": #292e33
);*/


$blue: #0d6efd;
$light: color.adjust(#f8f9fa, $lightness: -5%);
$link-color: $blue;
$card-highlight-color: #3d76cc;

$table-striped-bg-factor: 0.15;

$bg-nav-link-hover: color.adjust($body-bg, $lightness: 5%);


$input-bg: color.adjust($body-bg, $lightness: 15%);
$input-border-color: color.adjust($input-bg, $lightness: -10%);
$form-control-bg: color.adjust($body-bg, $lightness: 15%);
$input-disabled-bg: color.adjust($form-control-bg, $lightness: -20%);



$border-color: color.adjust($body-bg, $lightness: 4%);

$card-border-color: $border-color;

$link-hover-color:			#408cff;


/*$table-striped-bg: color.adjust($body-bg, $lightness: 2%);*/


$pagination-bg: 					$body-bg;
$pagination-border-color: 			color.adjust($border-color, $lightness: 5%);
$pagination-active-bg: 				$body-bg;
$pagination-active-border-color: 	color.adjust($border-color, $lightness: 5%);
$pagination-hover-bg: 				color.adjust($pagination-bg, $lightness: 15%);
$pagination-hover-border-color: 	color.adjust($border-color, $lightness: 5%);
$pagination-disabled-bg: 			color.adjust($pagination-bg, $lightness: -3%);
$pagination-disabled-border-color: 	color.adjust($border-color, $lightness: 5%);


$tooltip-bg: color.adjust($body-bg, $lightness: 15%);
$tooltip-color: $body-color;




$btn-close-color: #fff;


$tooltip-opacity: 1.0;

$dropdown-bg: color.adjust($body-bg, $lightness: 10%);
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: color.adjust($dropdown-bg, $lightness: 10%);
$dropdown-link-hover-color: $body-color;
$dropdown-link-active-bg: color.adjust($dropdown-bg, $lightness: 5%);
$dropdown-dark-bg: #ff0;
$dropdown-dark-link-hover-bg: #0ff;
$dropdown-dark-link-active-bg: #f0f;
$dropdown-link-active-color: color.adjust($dropdown-bg, $lightness: 5%);

$dropdown-header-color: color.adjust($body-color, $lightness: -25%);

$dropdown-box-shadow: 0 1.5rem 1rem rgba(#000, .35);


//$input-border-color: color.adjust($input-bg, $lightness: 9%);
$input-color: $body-color;
$input-placeholder-color: color.adjust($input-color, $lightness: -20%);
$input-group-addon-bg: color.adjust($input-bg, $lightness: -12%);


$modal-content-bg: $body-bg;
$modal-content-color: $body-color;



$toast-color:                       $body-color;
$toast-background-color:            color.adjust($body-bg, $lightness: 15%);
$toast-border-color:                rgba(255, 255, 255, .1);
$toast-header-color:                $body-color;
$toast-header-background-color:     color.adjust($body-bg, $lightness: 7%);
$toast-header-border-color:         rgba(0, 0, 0, .05) !default;


$progress-bg: color.adjust($body-bg, $lightness: -8%);



$nav-tabs-border-color: $body-color;






@import "main";


.table {
	--bs-table-color-state: $body-color;
}



.alert-primary {
	color: $body-color;
	background-color: color.adjust($primary, $lightness: -35%);
	border-color: color.adjust($primary, $lightness: -20%);
	border-width: 2px;
}

.alert-danger {
	color: $body-color;
	background-color: color.adjust($danger, $lightness: -30%);
	border-color: color.adjust($danger, $lightness: -20%);
	border-width: 2px;
}

.alert-warning {
	color: $body-color;
	background-color: color.adjust($warning, $lightness: -25%);
	border-color: color.adjust($warning, $lightness: -15%);
	border-width: 2px;
}

.alert-success {
	color: $body-color;
	background-color: color.adjust($success, $lightness: -10%);
	border-color: color.adjust($success, $lightness: 5%);
	border-width: 2px;
}

.alert-info {
	color: $body-color;
	background-color: color.adjust($info, $lightness: -20%);
	border-color: color.adjust($info, $lightness: -10%);
	border-width: 2px;
}




.bg-background {
	background-color: #000;
}

.bg-main {
	background-color: $main-bg !important;
}

.bg-darken {
	background-color: darken($body-bg, 4%) !important;
}


$header-footer-bg: #112138;

.bg-header-footer {
	background-color: $header-footer-bg !important;
}

.bg-header-footer-highlight {
	background-color: lighten($header-footer-bg, 12%) !important;
}

.bg-gradient-body-to-main {
	background: linear-gradient(0deg, $main-bg 0%, $body-bg 100%);
}

.bg-card-highlight-badge {
	background-color: $body-bg !important;
}



.bg-tx-separator {
	background-color: darken($body-bg, 12%);
}

.border-card-highlight-badge {
	border-color: #183662 !important;
}

.border-dark {
	border-color: lighten($dark, 8%) !important;
}

.card-highlight {
	background-color: lighten($card-bg, 5%);
	border: solid 1px lighten($card-bg, 10%) !important;
	color: $body-color;
}

.text-card-highlight {
	color: $card-highlight-color !important;
}

.border-dotted {
	border-bottom: dotted 1px #6688bc;
}

code {
	padding: 0px 3px;
	border-radius: 3px;
	color: #198754;
}




.bs-callout-danger {
	background-color: #66121a;
	border-color: #921925;
}
.bs-callout-warning {
	background-color: #876500;
	border-color: #ba8b00;
}
.bs-callout-info {
	background-color: #08798f;
	border-color: #0aa1c0;
}